:root
{
    --green:#27ae60 ;
    --black:#192a56 ;
    --light-color:#666; 
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

.formData
{
    text-align: center;
    padding: 10rem 3%;
    color: var(--black);
}


.formData .dataUser h2
{
 font-size: 2.2rem;   

}
.formData .dataUser h1
{
 font-size: 1.7rem
 ;   
 padding-top: 1%;
}
.formData .dataUser span
{
 font-size: 1.8rem;
 color: red;
 
}
.formData .dataUser .text-a
{
    padding-top: 5rem
    ; 
    
    
}
.formData .dataUser .text-a .n-texta
{
    
     border:1px #192a56 solid;
     padding:1.5rem 0%; border-radius: 5px; 
     padding-left: 10px; 
     width: 43rem; margin-bottom: 1rem;
     font-size: 16px;
}
.formData .dataUser .text-a .t-texta
{
    
     border:1px #192a56 solid;
     padding:1rem 0%; border-radius: 5px; 
     padding-left: 10px; 
     padding-bottom: 5rem;
     width: 86.5rem; margin-bottom: 1rem;
     font-size: 16px;
}
.formData .dataUser .text-a .n-btn
{
    
     border:1px #192a56 solid;
     background-color: gold;
     color: purple;
     padding:1rem 0%; border-radius: 5px; 
     padding-left: 10px; 
     padding-bottom: 1.5rem;
     width: 86.5rem; margin-bottom: 1rem;
     font-size: 16px;
}
.formData .dataUser .text-a .n-btn:hover
{
    
   
     background-color: blue;
     color:white;
    
}


@media (max-width:880px)
{
   
  
    .formData .dataUser .text-a .n-texta
    {
        width: 40%;
        height: auto;
        margin-bottom: 2rem;
    }

    .formData .dataUser .text-a .t-texta
    {
        width: 80%  ;
        margin-bottom: 2rem;
    }
    .formData .dataUser .text-a .n-btn
    {
        
        width: 80%  ;
        margin-bottom: 2rem;
    }
    
}
