<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MD.SkincareShop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet"> 
    <style>
        body{
            font-family: 'Prompt', sans-serif;
            background-image: url("");

        }
        /* About menu bar */
        .headMenu
        {
            
            background-color:black;
            width: 100%;
            text-align: center;
            padding-top:  10px;
            
            position: fixed;
        }
        /* About list  >> Interface ui list*/   
        .boxList 
        {
            display: inline;
        }
        .boxList ul li
        {
            list-style: none;
            display: inline;
            margin-left: 20px;
        }
        .boxList ul li a
        {
            text-decoration: none;
            color: white;
        }
        .boxList ul li h5
        {
            display: inline;
         
        }
       
        .boxList img
        {
            width: 35px;
            height: 35px; 
        }
        .boxList p
        {
            font-size: 20px;
        }
        /* About content interface ui promote */
        .imgA
        {
            text-align: center;
        }
        .imgA img
        {
            margin-top: 115px;
        }
        .textImgA p
        {
            font-size: 25px;
        }
        /* About BuyItemList */
        .buyMenu
        {
            background-color: pink;
            width: 100%;
            text-align: center;
            position: fixed;
            margin-top: 60px;
           
        }
        .boxBuy
        {
            padding-top: 10px;
        }
        .textBuy h2
        {
            color: blue;
        }
        .textBuy a
        {
            text-decoration: none;
        }
        .boxProduct
        {
            text-align: center;
        }
        .product 
        {
            border: 4px solid black;
            color: red;
        }
    </style>
</head>
<body>
   <div class="headMenu">
    <div class="boxList">
        <ul>
            <li><a href=""><h5>
                มาร์หน้าทองคำขั้นเทพ
            </h5></a></li>
            <li><a href=""><h5>
                ติดตามพัสดุ
            </h5></a></li>
            <li><a href=""><h5>
                เกี่ยวกับสินค้า
            </h5></a></li>
            <li><a href=""><h5>
                รีวิวการใช้งาน
            </h5></a></li>
            <li><a href=""><h5>
                ติดต่อสอบถาม
            </h5></a></li>
            <li><a href=""><h5 style="color:red ; ">
                สั่งซื้อสินค้า
            </h5></a></li>
            <li><a href=""><h5>
               <img src="https://cm.magefan.com/catalog/product/cache/b7b66eb2c89b3c8b0eb94902cfce8fc8/i/c/icon-better-checkout.png" >
            </h5></a></li>
        </ul>
    </div>
   </div>
    <div class="buyMenu">   
        <div class="boxBuy">
            <div class="textBuy">
                <a href="https://oec-api.tiktokv.com/view/product/1729435085812370286?trackParams=%7B%22original_price%22%3A%22%E0%B8%BF420.00%22%2C%22start_click_time%22%3A1656062422847%2C%22enter_from%22%3A%22%22%2C%22search_result_id%22%3A%22%22%2C%22click_product_start_time%22%3A1024658581%2C%22follow_status%22%3A-1%2C%22enter_from_info%22%3A%22product_share_outside%22%2C%22anchor_show_type%22%3A%22show_window_card_tag%22%2C%22source%22%3A%22TikTok%20Shop%22%2C%22previous_page%22%3A%22product_detail%22%2C%22item_order%22%3A0%2C%22list_source_content_id%22%3A%22%22%2C%22click_buynow_start_time%22%3A1024684892%2C%22product_id%22%3A%221729435085812370286%22%2C%22page_name%22%3A%22product_detail%22%2C%22product_skin_type%22%3A%22%22%2C%22source_from%22%3A%223%22%2C%22EVENT_ORIGIN_FEATURE%22%3A%22TEMAI%22%2C%22mix_product_type%22%3A%220%22%2C%22product_source%22%3A%225%22%2C%22sale_price%22%3A%22%E0%B8%BF375.00%22%2C%22search_id%22%3A%22%22%2C%22product_type%22%3A%221%22%2C%22list_skin_type%22%3A%22%22%2C%22entrance_form%22%3A%22%22%2C%22enter_method%22%3A%22click%22%2C%22is_single_sku%22%3A1%2C%22source_page_type%22%3A%22%22%2C%22page_show_type%22%3A%22full_screen%22%2C%22delivery_option%22%3A1%7D&unique_id=ceotanskincare&u_code=dbgj8j0mbk74d6&timestamp=1656062461&user_id=6809581534229267457&sec_user_id=MS4wLjABAAAAq-EZCetSNuSV3XEBDgxF7tsiNxX9xOUWOTMhLpamLnEsATglk3seFawucO5iWF3r&utm_source=messenger&utm_campaign=client_share&utm_medium=android&share_iid=7106706159260010267&share_link_id=32feace6-eaa6-44a5-9156-4e0938cda22b&share_app_id=1180&ugbiz_name=Unknown&fbclid=IwAR05cGANVbEq4HbB0yvB6KD2eHriI1m_MH4PMnnlP5O8kfoF6Gc77RQtMQs"><h2>สั่งซื้อสินค้า ราคา 259.- บาท</h2></a>

            </div>
        </div>
    </div>
   <div class="container">

    <div class="imgA">
        <img  src="https://scontent.fbkk22-2.fna.fbcdn.net/v/t1.15752-9/290377647_3372784599675452_6341413794955572130_n.png?_nc_cat=106&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeHDN7MByMHYosL7iGySHNmviITAIggVj_-IhMAiCBWP_7e8-5KAz-EpbtmEa6frRiKpOWaFltMqA20LfpQGWvi2&_nc_ohc=bBgOEoghIT8AX-nh50k&_nc_ht=scontent.fbkk22-2.fna&oh=03_AVINTFT6EYKrS0An82MaLJbGEe5R_Yj9F8VeHC-f53G4Fg&oe=62E105F7" clsas="img-thumbnail"alt="">
        <img  src="https://scontent.fbkk22-8.fna.fbcdn.net/v/t1.15752-9/288647950_445369684099740_4062424919403677776_n.png?_nc_cat=104&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeENE5ft3Vd5cc_-g4GK5W25WJzWLKe5lKNYnNYsp7mUo5sxO-V2KtQACjpJNpYzl9XtfxELme1zOHEeJcNIetgM&_nc_ohc=z097N0IzmDgAX_Ap0JG&tn=zuFz7EuY11Qo9eDr&_nc_ht=scontent.fbkk22-8.fna&oh=03_AVLDLm3dWI4smeYqtyeuB1-iAemK2KBvbIBCe6EqZF5Bng&oe=62E00FA7" clsas="img-thumbnail"alt="">
        <img src="https://scontent.fbkk22-2.fna.fbcdn.net/v/t1.15752-9/288677676_429736989026861_9116328886945639738_n.png?_nc_cat=106&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGxBSgNoFHZHeo88xotd4ODUntj4eYkLbJSe2Ph5iQtstWGn_eV2_TAtVmL5wesBsjqlO45t6yHZ2rhBon8Ym4S&_nc_ohc=61YSd5hY3Y8AX_dUZtb&tn=zuFz7EuY11Qo9eDr&_nc_ht=scontent.fbkk22-2.fna&oh=03_AVLxP5LDHtIwKs5gNsbkQ-bqJIe8EcbShWVcljHwybJKlA&oe=62E0EF56" clsas="img-thumbnail"alt="">
    </div>
   <div class="textImgA">
    <br>
    <h2>MD.Gold! Skincare ครีมมาร์คหน้าทองคำสวยขั้นเทพ!! ใช้แล้วเห็นผลตั้งแต่ครั้งแรก</h2>
    <p>○ ลดเลือนริ้วรอยรอบดวงตา ริ้วรอยบนใบหน้า และจุดด่างดำ</p>
    <p>○ กระตุ้นเซลล์ผิว</p>
    <p>○ ปกป้องผิวจากริ้วรอยก่อนวัยให้ดูอ่อนเยาว์อยู่เสมอ</p>
    <p>○ ทองคำทำให้ผิวดูผุดผ่องสดใส</p>
    <p>○ ช่วยเพิ่มความยืดหยุ่นให้กับผิว</p>
    <p>○ ผิวพรรณดูผุดผ่องสดใส</p>
    <p>○ ฟิ้นฟูผิวหน้าไวมาก รักษา สิว ผ้า กระ</p>
    
   </div>
   <!-- <div class="imgB">
        <img width="280x" height="350px" src="https://scontent.fbkk2-6.fna.fbcdn.net/v/t1.15752-9/288379436_774894410171884_3654561586015436136_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeEMK8D5rfJ7-uZ3tDc0xCl_4J0sGa4gAH3gnSwZriAAfY7XsME9UmFy_0Cvz8pimB0t09iE9rZGdpQrUs1OXovH&_nc_ohc=49btnZSEADsAX95TrM0&_nc_ht=scontent.fbkk2-6.fna&oh=03_AVLdscUvc3ioiXSQ9ble1-RcoLgEVGdhocXN9eg05Ukfrg&oe=62DDCD8B" clsas="img-thumbnail"alt="">
        <img width="280px" height="350px" src="https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.15752-9/289474599_549465229983810_6459702066918087991_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeFcGUpyd0df7XC2ISIJv2AGRp9tV0HUB3xGn21XQdQHfMFWq7nCTXtQeROeyMdGFO_KpskB55S1I3jFi9qX0xmH&_nc_ohc=KPo7J0ATdgUAX-lrNB2&_nc_ht=scontent.fbkk2-8.fna&oh=03_AVKF6icuBJiTu_hIlSDY8FueEzNo-8pwSQGUaVhS591-YQ&oe=62DF4487" clsas="img-thumbnail"alt="">
        <img width="280px" height="350px" src="https://scontent.fbkk2-4.fna.fbcdn.net/v/t1.15752-9/289016830_1064138841167732_5573665534783173733_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeEWR3em_yhDyq6VMCThfe_o7PT-2pWVM7fs9P7alZUzt0KWnV_4fqxSEeKrdz634ZGqYrPw3FbLqAmZF4sQa1_2&_nc_ohc=7XGUl_G7b7oAX8BW8BB&_nc_ht=scontent.fbkk2-4.fna&oh=03_AVIU6OaDBpVwxf0TrxK-_lKD-7NoX9Qg1TAqI1bIyjkTzg&oe=62DE0C07" clsas="img-thumbnail"alt="">
    </div> -->

    <!-- <iframe width="320" height="452" src="https://www.youtube.com/embed/QpsAY5M6ueg" title="Review Md.Gold" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    <div class="boxProduct">
        <div class="product">
            <br>
            <h2>เลขจดแจ้งสินค้าปลอดภัยได้มาตรฐาน เลขจดแจ้ง:27-1-6400038571</h2>
        </div>
    </div>
    <div class="boxProduct">
        <img width="350"; height="450"; src="https://scontent.fbkk22-1.fna.fbcdn.net/v/t1.15752-9/287051540_748559193250798_5967297773123466977_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeHNwhKEkF8mSwKw0k-iD7DWMSGoWuThrJwxIaha5OGsnPBuktL5ZmzZhr3WELlqBY6nSOo-J_6quf_TzB0FRhxv&_nc_ohc=q49neMXHdsMAX9kc7Ij&_nc_ht=scontent.fbkk22-1.fna&oh=03_AVIY4_Pniem3HolE9DFUVebXBbe1XVbRG-IhYwP912CHhQ&oe=62BADC43" class="img-thumbnail" alt="">
    <img width="350"; height="450"; src="https://scontent.fbkk22-7.fna.fbcdn.net/v/t1.15752-9/287083327_429007682173374_4067216723068855133_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeEliP0bXXopYlQvxaNXVj2WHj-yZ5sW-2oeP7Jnmxb7atpbxkuTeLh2Bvs33CGefrkVGSXqnLs354gQQmb7VlLi&_nc_ohc=LxXY2jbPskcAX9KvdOA&tn=zuFz7EuY11Qo9eDr&_nc_ht=scontent.fbkk22-7.fna&oh=03_AVJ0DSnE3Po5Sys91GXeGe1YVF_8Xktp4uafGVAbmpuGUQ&oe=62BA9F69" class="img-thumbnail" alt="">
    <img width="350"; height="450"; src="https://scontent.fbkk22-1.fna.fbcdn.net/v/t1.15752-9/288611364_1420626978364185_4889401372812754045_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeFiyIKdS4bowqJn2drjwoP7S9ilOmQUCuVL2KU6ZBQK5S1fh83Vn9tHEGM210tbFn2yo9auC5KcqqMJm3SKkF_T&_nc_ohc=ty5OHyFdxgAAX-roNZ4&_nc_ht=scontent.fbkk22-1.fna&oh=03_AVLtILB8wJ8IyXOuVWEO0zyhKsna6HXnJT1DOtSPCBeyzA&oe=62BAA30C" class="img-thumbnail" alt="">
    <img width="350"; height="450"; src="https://scontent.fbkk22-6.fna.fbcdn.net/v/t1.15752-9/287926284_919101729489602_5671366202578460354_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeF1kABpTAnjl5VjLqpZWUzYp2WotO54nimnZai07nieKak_YxkvHWJ3K88uaLFScA_I2bcyH40w92WDDJMBC_fG&_nc_ohc=jX7qhpbwe6oAX9qeLAm&_nc_ht=scontent.fbkk22-6.fna&oh=03_AVKO6905q1WiecOORgK2ITzxGgqbHdI22hjinUzsz8NEnA&oe=62BA8D55" class="img-thumbnail" alt="">
    <img width="350"; height="450"; src="https://scontent.fbkk22-1.fna.fbcdn.net/v/t1.15752-9/288661744_1086974602247282_542289190672906520_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeHOFyUgP_2uqIpvPqMbmFaCdt8vbXpvhnh23y9tem-GeErDtvpM_lRzCeY2iYWvidOuVuSuDe_UhKM_9Tb-MW8q&_nc_ohc=RMv3oGTnNqoAX8dIBfm&_nc_ht=scontent.fbkk22-1.fna&oh=03_AVJ_UE6b_lILIl7HqCS8OHqDKMvN_aNFPUhukc2QuVkQFA&oe=62BAA1BF" class="img-thumbnail" alt="">
    <img width="350"; height="450"; src="https://scontent.fbkk22-8.fna.fbcdn.net/v/t1.15752-9/287620044_498556798745315_4134900809249716769_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeHNtszC5vggJKzAII6M3m36YhypH0HD41FiHKkfQcPjUVH0XxCc8xe8sNgDzRhAWd_4WhcZBsqib6V9vDGP07Te&_nc_ohc=0C525f8WTl8AX8qC-db&tn=zuFz7EuY11Qo9eDr&_nc_ht=scontent.fbkk22-8.fna&oh=03_AVJxetl11462yLn_PpKH11X_VSfac0XeBobu5FRU4-QvAw&oe=62BABBDC" class="img-thumbnail" alt="">
    </div>
    <div class="boxProduct">
        <br>
        <a href=""><h2>เก็บเงินปลายทาง</h2></a>
    </div>
    
   
   
</body>
</html>