<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MD.SkincareShop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet"> 
    <style>
        body{
            font-family: 'Prompt', sans-serif;
            background-image: url("");
        }
        /* About menu bar */
        .headMenu
        {
            
            background-color:black;
            width: 100%;
            text-align: center;
            padding-top:  10px;
            padding-bottom:  1px;
            position: fixed;
        }
        /* About list  >> Interface ui list*/
        .boxSlide 
        {
            display: inline;
        }
        .boxSlide ul li
        {
            list-style: none;
            display: inline;
            margin-left: 20px;
        }
        .boxSlide ul li a
        {
            text-decoration: none;
            color: white;
        }
        .boxSlide ul li h5
        {
            display: inline;
         
        }
       
        .boxSlide img
        {
            width: 35px;
            height: 35px;
            
            
        }
        /* About content */
        
        
        
    </style>
</head>
<body>
   <div class="headMenu">
    <div class="boxSlide">
        <ul>
            <li><a href=""><h5>
                มาร์หน้าทองคำขั้นเทพ
            </h5></a></li>
            <li><a href=""><h5>
                ติดตามพัสดุ
            </h5></a></li>
            <li><a href=""><h5 ">
                เกี่ยวกับสินค้า
            </h5></a></li>
            <li><a href=""><h5 style="color:red ; ">
                สั่งซื้อสินค้า
            </h5></a></li>
            
            <li><a href=""><h5>
               <img src="https://cm.magefan.com/catalog/product/cache/b7b66eb2c89b3c8b0eb94902cfce8fc8/i/c/icon-better-checkout.png" >
            </h5></a></li>
        </ul>
    </div>
   </div>
   <div class="container">

    <div class="imgA">
        <img width="350px" height="350px" src="https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.15752-9/289666173_703469247616810_8568185257073987284_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGqeq4QTe_eGvvpvGCMxxk-296L6r8HlMPb3ovqvweUwyGYsEmhDYSQV74SKigVsxKmCYLBuhkqVFykgAvb2PfE&_nc_ohc=nIWIFnn4tcwAX_W0gdp&_nc_ht=scontent.fbkk2-8.fna&oh=03_AVLQr53e6K5TuSKEg5C1-AVHgU7gScGJ2eYdwUpbeiBe8A&oe=62DCE8D9" clsas="img-thumbnail"alt="">
        <img width="350px" height="350px" src="https://scontent.fbkk2-4.fna.fbcdn.net/v/t1.15752-9/288416925_553150293207302_5391931378911815211_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeEehwHCd7kX55-nCF7TJNn8ufdCV3TtC9m590JXdO0L2eA-EdnLJmiwEQ249-5vx3LAHcrVQjf71jjetuyAFHrz&_nc_ohc=ouCTM6ZAxokAX9PhIrx&_nc_ht=scontent.fbkk2-4.fna&oh=03_AVKqS2QEFwoh6iYPXp69I4tHMCCx65RVrx0TtAuxc8fuxQ&oe=62DCD765" clsas="img-thumbnail"alt="">
        <img width="350px" height="350px" src="https://scontent.fbkk2-7.fna.fbcdn.net/v/t1.15752-9/287739259_1653573831693489_5734609975010701940_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeHB9UcBZHu-8hPahPxHrLqCeiNBGaKdymN6I0EZop3KY_ArknWixuqLx75tlT884GEqSN1dSxby913OsXKSDvy6&_nc_ohc=GXSysadCE00AX-vxZ8V&tn=DV_l_jx2cw_rmhYS&_nc_ht=scontent.fbkk2-7.fna&oh=03_AVKO-oUWytyACyQK6Lx2vnS5TskMqgcPrMssdRIR_jQfYQ&oe=62DCE52A" clsas="img-thumbnail"alt="">
    </div>
   <div class="textImgA">
    <br>
    <h2>MD.Gold! Skincare ครีมมาร์คหน้าทองคำขั้นเทพ!! ใช้แล้วเห็นผลตั้งแต่ครั้งแรก</h2>
    <p>○ ลดเลือนริ้วรอยรอบดวงตา ริ้วรอยบนใบหน้า และจุดด่างดำ</p>
    <p>○ กระตุ้นเซลล์ผิว</p>
    <p>○ ปกป้องผิวจากริ้วรอยก่อนวัยให้ดูอ่อนเยาว์อยู่เสมอ</p>
    <p>○ ทองคำทำให้ผิวดูผุดผ่องสดใส</p>
    <p>○ ช่วยเพิ่มความยืดหยุ่นให้กับผิว</p>
    <p>○ ผิวพรรณดูผุดผ่องสดใส</p>
    <p>○ ฟิ้นฟูผิวหน้าไวมาก รักษา สิว ผ้า กระ</p>
    <br>
    <h2>Review!!</h2>
    <br>
   </div>
   <div class="imgA">
        <img width="280x" height="350px" src="https://scontent.fbkk2-6.fna.fbcdn.net/v/t1.15752-9/288379436_774894410171884_3654561586015436136_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeEMK8D5rfJ7-uZ3tDc0xCl_4J0sGa4gAH3gnSwZriAAfY7XsME9UmFy_0Cvz8pimB0t09iE9rZGdpQrUs1OXovH&_nc_ohc=49btnZSEADsAX95TrM0&_nc_ht=scontent.fbkk2-6.fna&oh=03_AVLdscUvc3ioiXSQ9ble1-RcoLgEVGdhocXN9eg05Ukfrg&oe=62DDCD8B" clsas="img-thumbnail"alt="">
        <img width="280px" height="350px" src="https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.15752-9/289474599_549465229983810_6459702066918087991_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeFcGUpyd0df7XC2ISIJv2AGRp9tV0HUB3xGn21XQdQHfMFWq7nCTXtQeROeyMdGFO_KpskB55S1I3jFi9qX0xmH&_nc_ohc=KPo7J0ATdgUAX-lrNB2&_nc_ht=scontent.fbkk2-8.fna&oh=03_AVKF6icuBJiTu_hIlSDY8FueEzNo-8pwSQGUaVhS591-YQ&oe=62DF4487" clsas="img-thumbnail"alt="">
        <img width="280px" height="350px" src="https://scontent.fbkk2-4.fna.fbcdn.net/v/t1.15752-9/289016830_1064138841167732_5573665534783173733_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeEWR3em_yhDyq6VMCThfe_o7PT-2pWVM7fs9P7alZUzt0KWnV_4fqxSEeKrdz634ZGqYrPw3FbLqAmZF4sQa1_2&_nc_ohc=7XGUl_G7b7oAX8BW8BB&_nc_ht=scontent.fbkk2-4.fna&oh=03_AVIU6OaDBpVwxf0TrxK-_lKD-7NoX9Qg1TAqI1bIyjkTzg&oe=62DE0C07" clsas="img-thumbnail"alt="">
    </div>
  
   

   
</body>
</html>