:root
{
    --green:#27ae60 ;
    --black:#192a56 ;
    --light-color:#666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}
.boxBuy .sub-head
{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: 1em;
}
.boxBuy .head
{
    font-size: 4rem;
    color: var(--black);
    padding-bottom: 2em;
}
.boxBuy
{
    text-align: center;
    padding-top: 10rem;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    display: inline-block;
    margin-left: 4rem;
    margin-bottom: 4rem;
 
  }
  .card h1{
   font-size: 2rem;
   color: var(--black);
   padding-bottom: 6px;
  
  }
  .card p{
    font-size: 1.8rem;
    color: var(--black);
    
  
   }
  
  .price {
    color: red;
    font-size: 22px;
  }
  .card button a  
  {
    font-size: 18px;
    color: white;
  }
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    background-color: gold;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .card button:hover {
    background-color: blue;
 
  }

 
  @media (max-width:400px)
{
    .card {
       
        margin-left: 0rem;
        
     
      }
}