:root
{
    --green:#27ae60 ;
    --black:#192a56 ;
    --light-color:#666;
    
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}
.product
{
    background-color: rgb(253, 253, 229);
    margin-top: 15rem;
    padding-top: 10rem;
    text-align: center;
}
.product .sub-heading
{
    font-size: 2rem;
    color: var(--black);
}
.product .heading
{
    font-size: 4rem;
    color: var(--black);
}
.product .p-container img
{
    border-radius: 24px;
    height: auto;
    width: 30%;
}
.product .p-container
{
    margin-top: 10rem;
    padding-bottom: 13rem;
}