<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>มาร์หน้าทองคำสวยขั้นเทพ พี่ดม</title>
    <link rel="stylesheet" href="renderHeader.css">
    <link rel="stylesheet" href="renderBottom.css">
    <link rel="stylesheet" href="renderSection.css">
    <link rel="stylesheet" href="renderReview.css">
    <!-- boostrap <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mali:wght@500&family=Sarabun&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    
</head>
<body>
    <header>
        <a href="" class="logo"><i class="fas-fa-itensils"></i>🌸MD.GOLD </a>
        <nav class="navbar">
           
            <a href="" id="localProduct">ติดตามพัสดุ</a>
            <a href="#about" id="reviewProduct">รีวิวสินค้า</a>
            <a href="" id="message">ติดต่อสอบถาม</a>
            <a class="active" href="">สั่งซื้อสินค้า</a>
        </nav>
        <div class="icons">
            <a href="" class="fa fa-shopping-cart" id="IShopcart"></a>
            <i id="menu-bars" class="fa fa-bars"></i>
        </div>
    </header>
    <div class="navbelowbar">
            <a href="" class="buyItem">สั่งซื้อสินค้า</a>
            <a href="" class="callCen">🗨 ติดต่อ</a>
    </div>
    <!-- Home section start -->
    <section class="home" id="home">
        <div class="swiper home-slide">
            <div class="swiper-wrapper warpper">
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>💓โปรโมชั่นพิเศษสำหรับคุณซื้อ 1 แถม 1 ราคา 390.- บาท</span>
                        <h3>มาร์คหน้าทองคำสวยขั้นเทพ</h3>
                        <p>เห็นผลตั้งแต่ใช้คืนแรก รักษาสิว ฝ้า กระ ผิวหมองคล้ำ</p>
                        <a href="" class="btn">สั่งซื้อตอนนี้</a>
                        <br>
                    </div>
                    <div class="img">
                        <img src="https://scontent.fbkk22-7.fna.fbcdn.net/v/t1.15752-9/289666173_703469247616810_8568185257073987284_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGqeq4QTe_eGvvpvGCMxxk-296L6r8HlMPb3ovqvweUwyGYsEmhDYSQV74SKigVsxKmCYLBuhkqVFykgAvb2PfE&_nc_ohc=C3GfN2KGlSIAX9qhnga&_nc_ht=scontent.fbkk22-7.fna&oh=03_AVIIYZu4ddBQLMVuc4MBxqURZf71MFd3i-yCERWFl-CqzQ&oe=62E4D1D9" alt="">
                    </div>
                </div>
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>🌟สินค้าพิเศษสำหรับคุณ 259.- บาท</span>
                        <h3>มาร์คหน้าทองคำสวยขั้นเทพ</h3>
                        <p>เห็นผลตั้งแต่ใช้คืนแรก รักษาสิว ฝ้า กระ ผิวหมองคล้ำ </p>
                        <a href="" class="btn">สั่งซื้อตอนนี้</a>
                        <br>
                    </div>
                    <div class="img">
                        <img src="https://scontent.fbkk22-3.fna.fbcdn.net/v/t1.15752-9/288157047_485247836704145_8726225918625011451_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeHjZJASAFBa0hhN5FiKW5VNykenP1mk5bbKR6c_WaTltouCIiPUjHi6f99GJhFM7JrN7r6VBVWpfC2OnQOKQaOx&_nc_ohc=QPpSAxuxOBcAX9CrE6f&tn=zuFz7EuY11Qo9eDr&_nc_ht=scontent.fbkk22-3.fna&oh=03_AVKSV9IwmWaKDQocY9EzoTO70ZoD0MX3CJTcA0ahvngeHA&oe=62E59340" alt="">
                    </div>
                </div>
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>🔥สินค้าแนะนำ</span>
                        <h3>มาร์คหน้าทองคำสวยขั้นเทพ</h3>
                        <p>หน้าหมอง หน้าโสม ฝ้าหนา กระเยอะ รอยสิว รักษาได้ในหนึ่งกระปุก</p>
                        <a href="" class="btn">สั่งซื้อตอนนี้</a>
                        <br>
                    </div>
                    <div class="img">
                        <img src="https://scontent.fbkk22-2.fna.fbcdn.net/v/t1.15752-9/288416925_553150293207302_5391931378911815211_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeEehwHCd7kX55-nCF7TJNn8ufdCV3TtC9m590JXdO0L2eA-EdnLJmiwEQ249-5vx3LAHcrVQjf71jjetuyAFHrz&_nc_ohc=Wx2XRNtghqYAX_sMmnm&_nc_ht=scontent.fbkk22-2.fna&oh=03_AVJ7Pj_IYtoCUJowcrcS82o7a1MrFH9hGoelPSd0Rfl-TQ&oe=62E4C065" alt="">
                    </div>
                </div>
            </div>
             <br>
             <br>
             <br>
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <!-- Home section end -->
    <!-- Review Section starts -->
    <div class="about" id="about">
        <h3 class="sub-heading">เกี่ยวกับสินค้า</h3>
        <h1 class="heading">รีวิวจากผู้ใช้งาน</h1>
        <div class="row">
            <div class="imgRe">
                <img src="https://scontent.fbkk22-4.fna.fbcdn.net/v/t1.15752-9/290610413_758451831956624_7125481849097112328_n.png?_nc_cat=109&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGCi8fj8VxUjXsOMp5enUROY1ypfBhCYhxjXKl8GEJiHGJg--5DXaBB5_wDFhNMtcqXALQlWpvaAOfci99x7SIO&_nc_ohc=HnCDZq3B2T0AX9yXdOe&_nc_ht=scontent.fbkk22-4.fna&oh=03_AVJ-7EVpzMaGn9Sw0RlEzBKx30HzxlkgFw-xaraSka4OOA&oe=62E4BD9D" alt="">
            </div>
            <div class="content">
                <h3>มาร์คหน้าทองคำสวยขั้นเทพ🌻</h3>
                <p>ช่วยฟื้นฟูผิวหน้าได้รวดเร็ว บูสผิวให้เต่งตึงสวยงาม เห็นผลตั้งแต่กระปุกแรกที่ใช้งาน รักษาอาการ หน้าหมองคล้ำ หน้าโสม สิวเสี้ยน ฝ้าหนา เป็นกระหายยาก ลองใช้ MD.Skincare มาร์คหน้าทองคำสวยขั้นเทพ จบทุกปัญหาที่กล่าวมาในกระปุกเดียว</p>
                <div class="icons-container">
                    <div class="icons">
                        <p>🚚</p>
                        <span>เก็บเงินปลายทาง</span>
                    </div>
                    <div class="icons">
                        <p >💰</p>
                        <span>ราคา 259.-บาท</span>
                    </div>
                    <div class="icons">
                        <p>📞</p>
                        <span>ติดต่อสอบถาม</span>
                    </div>
                </div>
            </div>
         
        </div>
      
    </div>
    <!-- Review Section end -->
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="getMenubar.js"></script>
    <script src="getSlide.js"></script>
    

</body>
</html>