<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>มาร์หน้าทองคำสวยขั้นเทพ พี่ดม</title>
    <link rel="stylesheet" href="renderHeader.css">
    <link rel="stylesheet" href="renderBottom.css">
    <!-- boostrap <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mali:wght@500&family=Sarabun&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="" class="logo"><i class="fas-fa-itensils"></i>MD.GOLD </a>
        <nav class="navbar">
           
            <a href="" id="localProduct">ติดตามพัสดุ</a>
            <a href="" id="reviewProduct">รีวิวสินค้า</a>
            <a href="" id="message">ติดต่อสอบถาม</a>
            <a class="active" href="">สั่งซื้อสินค้า</a>
        </nav>
        <div class="icons">
            <a href="" class="fa fa-shopping-cart" id="IShopcart"></a>
            <i id="menu-bars" class="fa fa-bars"></i>
        </div>
    </header>
    <div class="bottomBar">
        <nav class="navbelowbar">
            <a href="" class="dpFlex" id="buyItem"><h1>สั่งซื้อสินค้า</h1></a>
            <a href="" class="dpFlex"><h2>ติดต่อสอบถาม</h2></a>
            
        </nav>
    </div>



    <script src="getMenubar.js"></script>

</body>
</html>