<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>มาร์หน้าทองคำสวยขั้นเทพ พี่ดม</title>
    <link rel="stylesheet" href="renderHeader.css">
    <link rel="stylesheet" href="renderBottom.css">
    <link rel="stylesheet" href="renderSection.css">
    <link rel="stylesheet" href="renderReview.css">
    <link rel="stylesheet" href="renderBuy.css">
    <!-- boostrap <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mali:wght@500&family=Sarabun&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    
</head>
<body>
    <header>
        <a href="" class="logo"><i class="fas-fa-itensils"></i>🌸MD.GOLD </a>
        <nav class="navbar">
           
            <a href="" id="localProduct">ติดตามพัสดุ</a>
            <a href="#about" id="reviewProduct">รีวิวสินค้า</a>
            <a href="https://line.me/ti/p/WO-SRBGvtr?fbclid=IwAR2_cnLKzaasJbgkKNAMC4rkkNOykQITGO1kSCJqiftpNJY-xRzk9Gi2z40" id="message">ติดต่อสอบถาม</a>
            <a class="active" href="#boxBuy">สั่งซื้อสินค้า</a>
        </nav>
        <div class="icons">
            <a href="" class="fa fa-shopping-cart" id="IShopcart"></a>
            <i id="menu-bars" class="fa fa-bars"></i>
        </div>
    </header>
    <div class="navbelowbar">
            <a href="https://oec-api.tiktokv.com/view/product/1729434960962882414?trackParams=%7B%22original_price%22%3A%22%E0%B8%BF259.00%22%2C%22enter_from%22%3A%22%22%2C%22search_result_id%22%3A%22%22%2C%22click_product_start_time%22%3A1810541710%2C%22follow_status%22%3A-1%2C%22enter_from_info%22%3A%22product_share_outside%22%2C%22anchor_show_type%22%3A%22show_window_card_tag%22%2C%22source%22%3A%22TikTok%20Shop%22%2C%22item_order%22%3A2%2C%22list_source_content_id%22%3A%22%22%2C%22product_id%22%3A%221729434960962882414%22%2C%22page_name%22%3A%22product_detail%22%2C%22product_skin_type%22%3A%22%22%2C%22source_from%22%3A%223%22%2C%22EVENT_ORIGIN_FEATURE%22%3A%22TEMAI%22%2C%22mix_product_type%22%3A%220%22%2C%22product_source%22%3A%225%22%2C%22search_id%22%3A%22%22%2C%22product_type%22%3A%221%22%2C%22list_skin_type%22%3A%22%22%2C%22entrance_form%22%3A%22%22%2C%22enter_method%22%3A%22click%22%2C%22is_single_sku%22%3A1%2C%22source_page_type%22%3A%22%22%2C%22page_show_type%22%3A%22full_screen%22%2C%22delivery_option%22%3A1%7D&unique_id=ceotanskincare&u_code=dbgj8j0mbk74d6&timestamp=1656848298&user_id=6809581534229267457&sec_user_id=MS4wLjABAAAAq-EZCetSNuSV3XEBDgxF7tsiNxX9xOUWOTMhLpamLnEsATglk3seFawucO5iWF3r&utm_source=messenger&utm_campaign=client_share&utm_medium=android&share_iid=7106706159260010267&share_link_id=41d5349b-a755-4223-b01c-339231ea41e8&share_app_id=1180&ugbiz_name=Unknown" class="buyItem">สั่งซื้อสินค้า</a>
            <a href="https://line.me/ti/p/WO-SRBGvtr?fbclid=IwAR2_cnLKzaasJbgkKNAMC4rkkNOykQITGO1kSCJqiftpNJY-xRzk9Gi2z40" class="callCen">🗨 ติดต่อ</a>
    </div>
    <!-- Home section start -->
    <section class="home" id="home">
        <div class="swiper home-slide">
            <div class="swiper-wrapper warpper">
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>💓โปรโมชั่นพิเศษสำหรับคุณซื้อ 1 แถม 1 ราคา 390.- บาท</span>
                        <h3>มาร์คหน้าทองคำสวยขั้นเทพ</h3>
                        <p>เห็นผลตั้งแต่ใช้คืนแรก รักษาสิว ฝ้า กระ ผิวหมองคล้ำ</p>
                        <a href="" class="btn">สั่งซื้อตอนนี้</a>
                        <br>
                    </div>
                    <div class="img">
                        <img src="https://scontent.fbkk22-7.fna.fbcdn.net/v/t1.15752-9/289666173_703469247616810_8568185257073987284_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGqeq4QTe_eGvvpvGCMxxk-296L6r8HlMPb3ovqvweUwyGYsEmhDYSQV74SKigVsxKmCYLBuhkqVFykgAvb2PfE&_nc_ohc=C3GfN2KGlSIAX9qhnga&_nc_ht=scontent.fbkk22-7.fna&oh=03_AVIIYZu4ddBQLMVuc4MBxqURZf71MFd3i-yCERWFl-CqzQ&oe=62E4D1D9" alt="">
                    </div>
                </div>
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>🌟สินค้าพิเศษสำหรับคุณ 259.- บาท</span>
                        <h3>มาร์คหน้าทองคำสวยขั้นเทพ</h3>
                        <p>เห็นผลตั้งแต่ใช้คืนแรก รักษาสิว ฝ้า กระ ผิวหมองคล้ำ </p>
                        <a href="" class="btn">สั่งซื้อตอนนี้</a>
                        <br>
                    </div>
                    <div class="img">
                        <img src="https://scontent.fbkk22-3.fna.fbcdn.net/v/t1.15752-9/288157047_485247836704145_8726225918625011451_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeHjZJASAFBa0hhN5FiKW5VNykenP1mk5bbKR6c_WaTltouCIiPUjHi6f99GJhFM7JrN7r6VBVWpfC2OnQOKQaOx&_nc_ohc=QPpSAxuxOBcAX9CrE6f&tn=zuFz7EuY11Qo9eDr&_nc_ht=scontent.fbkk22-3.fna&oh=03_AVKSV9IwmWaKDQocY9EzoTO70ZoD0MX3CJTcA0ahvngeHA&oe=62E59340" alt="">
                    </div>
                </div>
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>🔥สินค้าแนะนำ</span>
                        <h3>มาร์คหน้าทองคำสวยขั้นเทพ</h3>
                        <p>หน้าหมอง หน้าโสม ฝ้าหนา กระเยอะ รอยสิว รักษาได้ในหนึ่งกระปุก</p>
                        <a href="" class="btn">สั่งซื้อตอนนี้</a>
                        <br>
                    </div>
                    <div class="img">
                        <img src="https://scontent.fbkk22-2.fna.fbcdn.net/v/t1.15752-9/288416925_553150293207302_5391931378911815211_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeEehwHCd7kX55-nCF7TJNn8ufdCV3TtC9m590JXdO0L2eA-EdnLJmiwEQ249-5vx3LAHcrVQjf71jjetuyAFHrz&_nc_ohc=Wx2XRNtghqYAX_sMmnm&_nc_ht=scontent.fbkk22-2.fna&oh=03_AVJ7Pj_IYtoCUJowcrcS82o7a1MrFH9hGoelPSd0Rfl-TQ&oe=62E4C065" alt="">
                    </div>
                </div>
            </div>
             <br>
             <br>
             <br>
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <!-- Home section end -->
    <!-- Review Section starts -->
    <div class="about" id="about">
        <h3 class="sub-heading">เกี่ยวกับสินค้า</h3>
        <h1 class="heading">รีวิวจากผู้ใช้งาน</h1>
        <div class="row">
            <div class="imgRe">
                <img src="https://scontent.fbkk2-6.fna.fbcdn.net/v/t1.15752-9/290488996_555369062955914_5827133561506518699_n.png?_nc_cat=104&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeE-_nwJL7TWGR8SDepTG9C-amn4GzegquZqafgbN6Cq5tHHRFtOrXCsyZHQxn135AVHVyd_NkZZDenXKOCzGHwx&_nc_ohc=rra3CP54vsUAX_QAlLy&_nc_oc=AQkfRa1PWxaInRHl5EyRWYGyg_DHTd8uOxCHVxAHnAjiKHGJoEIlDR5PkBMjCsnV3B0&tn=zuFz7EuY11Qo9eDr&_nc_ht=scontent.fbkk2-6.fna&oh=03_AVLISz2N9dcW_azRsP8NF3LEw5L2RMX_DLiqzcCksqj8Ig&oe=62E818C9" alt="">
            </div>
            <div class="content">
                <h3>มาร์คหน้าทองคำสวยขั้นเทพ🌻</h3>
                <p>ช่วยฟื้นฟูผิวหน้าได้รวดเร็ว บูสผิวให้เต่งตึงสวยงาม เห็นผลตั้งแต่กระปุกแรกที่ใช้งาน รักษาอาการ หน้าหมองคล้ำ หน้าโสม สิวเสี้ยน ฝ้าหนา เป็นกระหายยาก ลองใช้ MD.Skincare มาร์คหน้าทองคำสวยขั้นเทพ จบทุกปัญหาที่กล่าวมาในกระปุกเดียว</p>
                <div class="icons-container">
                    <div class="icons">
                        <p>🚚</p>
                        <span>เก็บเงินปลายทาง</span>
                    </div>
                    <div class="icons">
                        <p >💰</p>
                        <span>ราคา 259.-บาท</span>
                    </div>
                    <div class="icons">
                        <p>📞</p>
                        <span>ติดต่อสอบถาม</span>
                    </div>
                </div>
            </div>
         
        </div>
        
      
    </div>

    <div class="review" id="review">
        <div class="reviewA">
            <img src="https://scontent.fbkk2-3.fna.fbcdn.net/v/t1.15752-9/284759923_976203036387905_836315679656032349_n.png?_nc_cat=111&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeFiY5XrIn5wveNJ6U4NZ-08N9pofJ1BLX032mh8nUEtfSIxxNbF2Q_Yp5A5Oiy-8zvmetlKjrdtsjQIVslHr7cH&_nc_ohc=cG5Fj05ZxxwAX-MBqlq&_nc_ht=scontent.fbkk2-3.fna&oh=03_AVIi5g1tEpCBkn8FF1qIySuKXiPAm5JDs3YXUWTODSu-2w&oe=62E7032B" alt="" class="reviewA">
            <img src="https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.15752-9/291615425_562297588686974_7919831086705389652_n.png?_nc_cat=103&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGMlwDWW6A5uKuFOm0mQgnlvOTK5RIM7bW85MrlEgzttXRzcKPd0v-jXAP0iiI6h7kkGuosASnAZyeyWitVem06&_nc_ohc=qncupz4PFaQAX9c2Luu&_nc_ht=scontent.fbkk2-8.fna&oh=03_AVJ-1ZXif1WCzHJp4fkWsec7BmJgRThUNV4As3sAL59GQw&oe=62E5DF3D" alt="" class="reviewA">
        </div>
    </div>

    <!-- Review Section end -->
    <!-- Buy Section starts -->
    
    <div class="boxBuy" id="boxBuy">
        <h3 class="sub-heading">สั่งซื้อสินค้า</h3>
        <h1 class="heading">รายการสินค้า</h1>
        <div class="box-Container">
            <div class="boxA">
                <img src="https://scontent.fbkk2-7.fna.fbcdn.net/v/t1.15752-9/290592211_1252120712260444_3013611455946573907_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGuW6Sq4pfu0g1RncMUX4mQfQVVSGNYgdd9BVVIY1iB1-DAq3U1Q0fO1WpiUaDLXbGNB3WxGXJhkcnjdWLTxW3U&_nc_ohc=E9771OPMU9cAX8wp1Mv&_nc_ht=scontent.fbkk2-7.fna&oh=03_AVJf7St9vqiH7rcllg1APfKyzhpWO2OEIEbKDkSPzfy94w&oe=62E7764A" alt="">
                <h3>MD.Skincare</h3>
                <span>259 B.-</span>
                <a href="https://oec-api.tiktokv.com/view/product/1729434960962882414?trackParams=%7B%22original_price%22%3A%22%E0%B8%BF259.00%22%2C%22enter_from%22%3A%22%22%2C%22search_result_id%22%3A%22%22%2C%22click_product_start_time%22%3A1810541710%2C%22follow_status%22%3A-1%2C%22enter_from_info%22%3A%22product_share_outside%22%2C%22anchor_show_type%22%3A%22show_window_card_tag%22%2C%22source%22%3A%22TikTok%20Shop%22%2C%22item_order%22%3A2%2C%22list_source_content_id%22%3A%22%22%2C%22product_id%22%3A%221729434960962882414%22%2C%22page_name%22%3A%22product_detail%22%2C%22product_skin_type%22%3A%22%22%2C%22source_from%22%3A%223%22%2C%22EVENT_ORIGIN_FEATURE%22%3A%22TEMAI%22%2C%22mix_product_type%22%3A%220%22%2C%22product_source%22%3A%225%22%2C%22search_id%22%3A%22%22%2C%22product_type%22%3A%221%22%2C%22list_skin_type%22%3A%22%22%2C%22entrance_form%22%3A%22%22%2C%22enter_method%22%3A%22click%22%2C%22is_single_sku%22%3A1%2C%22source_page_type%22%3A%22%22%2C%22page_show_type%22%3A%22full_screen%22%2C%22delivery_option%22%3A1%7D&unique_id=ceotanskincare&u_code=dbgj8j0mbk74d6&timestamp=1656848298&user_id=6809581534229267457&sec_user_id=MS4wLjABAAAAq-EZCetSNuSV3XEBDgxF7tsiNxX9xOUWOTMhLpamLnEsATglk3seFawucO5iWF3r&utm_source=messenger&utm_campaign=client_share&utm_medium=android&share_iid=7106706159260010267&share_link_id=41d5349b-a755-4223-b01c-339231ea41e8&share_app_id=1180&ugbiz_name=Unknown" class="btnBuy">สั่งซื้อ</a>
            </div>
            <div class="boxA">
                <img src="https://scontent.fbkk2-4.fna.fbcdn.net/v/t1.15752-9/287976092_5728487760517532_8058269646955257877_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGbnjPfa0Lgi0zOt6ZQIXw74U_sjl0HFn_hT-yOXQcWfwxxn2iaJ_TjgJnU27gvMTz5Aej6RfoEXQZvI5CaoGDi&_nc_ohc=fgS3TIsSy20AX_J6vSz&_nc_ht=scontent.fbkk2-4.fna&oh=03_AVLnpUzY0OUtMLNIYfK-qoBKqExz0EsLfOBhWImohjnwNg&oe=62E88227" alt="">
                <h3>MD.Skincare โปรโมชั่น 1แถม1</h3>
                <span>390 B.-</390>
                <a href="https://oec-api.tiktokv.com/view/product/1729435085812370286?trackParams=%7B%22original_price%22%3A%22%E0%B8%BF420.00%22%2C%22enter_from%22%3A%22%22%2C%22search_result_id%22%3A%22%22%2C%22click_product_start_time%22%3A1810566439%2C%22follow_status%22%3A-1%2C%22enter_from_info%22%3A%22product_share_outside%22%2C%22anchor_show_type%22%3A%22show_window_card_tag%22%2C%22source%22%3A%22TikTok%20Shop%22%2C%22item_order%22%3A0%2C%22list_source_content_id%22%3A%22%22%2C%22product_id%22%3A%221729435085812370286%22%2C%22page_name%22%3A%22product_detail%22%2C%22product_skin_type%22%3A%22%22%2C%22source_from%22%3A%223%22%2C%22EVENT_ORIGIN_FEATURE%22%3A%22TEMAI%22%2C%22mix_product_type%22%3A%220%22%2C%22product_source%22%3A%225%22%2C%22search_id%22%3A%22%22%2C%22product_type%22%3A%221%22%2C%22list_skin_type%22%3A%22%22%2C%22entrance_form%22%3A%22%22%2C%22enter_method%22%3A%22click%22%2C%22is_single_sku%22%3A1%2C%22source_page_type%22%3A%22%22%2C%22page_show_type%22%3A%22full_screen%22%2C%22delivery_option%22%3A1%7D&unique_id=ceotanskincare&u_code=dbgj8j0mbk74d6&timestamp=1656848325&user_id=6809581534229267457&sec_user_id=MS4wLjABAAAAq-EZCetSNuSV3XEBDgxF7tsiNxX9xOUWOTMhLpamLnEsATglk3seFawucO5iWF3r&utm_source=messenger&utm_campaign=client_share&utm_medium=android&share_iid=7106706159260010267&share_link_id=5dc5e88f-f3a8-4a10-887f-da0e17d5c39a&share_app_id=1180&ugbiz_name=Unknown" class="btnBuy">สั่งซื้อ</a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <!-- Buy Section end -->
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="getMenubar.js"></script>
    <script src="getSlide.js"></script>
    

</body>
</html>