<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>มาร์หน้าทองคำสวยขั้นเทพ พี่ดม</title>
    <link rel="stylesheet" href="renderHeader.css">
    <link rel="stylesheet" href="renderBottom.css">
    <link rel="stylesheet" href="renderSection.css">
    <link rel="stylesheet" href="renderReview.css">
    <link rel="stylesheet" href="renderBuy.css">
    <link rel="stylesheet" href="renderProduct.css">
    <!-- boostrap <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mali:wght@500&family=Sarabun&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    
</head>
<body>
    <header>
        <a href="/" class="logo"><i class="fas-fa-itensils"></i>🌸MD.GOLD </a>
        <nav class="navbar">
           
            <a href="" id="localProduct">ติดตามพัสดุ</a>
            <a href="#about" id="reviewProduct">รีวิวสินค้า</a>
            <a target="_blank"  href="https://line.me/ti/p/WO-SRBGvtr?fbclid=IwAR2_cnLKzaasJbgkKNAMC4rkkNOykQITGO1kSCJqiftpNJY-xRzk9Gi2z40" id="message">ติดต่อสอบถาม</a>
            <a class="active" href="/md-skincare-cream">สั่งซื้อสินค้า</a>
        </nav>
        <div class="icons">
            <a href="/md-skincare-cream" class="fa fa-shopping-cart" id="IShopcart"></a>
            <i id="menu-bars" class="fa fa-bars"></i>
        </div>
    </header>
    <div class="navbelowbar">
            <a href="/md-skincare-cream" class="buyItem">สั่งซื้อสินค้า</a>
            <a target="_blank"  href="https://line.me/ti/p/WO-SRBGvtr?fbclid=IwAR2_cnLKzaasJbgkKNAMC4rkkNOykQITGO1kSCJqiftpNJY-xRzk9Gi2z40" class="callCen">🗨 ติดต่อ</a>
    </div>
    <!-- Home section start -->
    <section class="home" id="home">
        <div class="swiper home-slide">
            <div class="swiper-wrapper warpper">
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>💓โปรโมชั่นพิเศษสำหรับคุณซื้อ 1 แถม 1 ราคา 390.- บาท</span>
                        <h3>มาร์คหน้าทองคำสวยขั้นเทพ</h3>
                        <p>เห็นผลตั้งแต่ใช้คืนแรก รักษาสิว ฝ้า กระ ผิวหมองคล้ำ</p>
                        <a href="" class="btn">สั่งซื้อตอนนี้</a>
                        <br>
                    </div>
                    <div class="img">
                        <img src="https://scontent.fbkk22-7.fna.fbcdn.net/v/t1.15752-9/289666173_703469247616810_8568185257073987284_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGqeq4QTe_eGvvpvGCMxxk-296L6r8HlMPb3ovqvweUwyGYsEmhDYSQV74SKigVsxKmCYLBuhkqVFykgAvb2PfE&_nc_ohc=C3GfN2KGlSIAX9qhnga&_nc_ht=scontent.fbkk22-7.fna&oh=03_AVIIYZu4ddBQLMVuc4MBxqURZf71MFd3i-yCERWFl-CqzQ&oe=62E4D1D9" alt="">
                    </div>
                </div>
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>🌟สินค้าพิเศษสำหรับคุณ 259.- บาท</span>
                        <h3>มาร์คหน้าทองคำสวยขั้นเทพ</h3>
                        <p>เห็นผลตั้งแต่ใช้คืนแรก รักษาสิว ฝ้า กระ ผิวหมองคล้ำ </p>
                        <a href="" class="btn">สั่งซื้อตอนนี้</a>
                        <br>
                    </div>
                    <div class="img">
                        <img src="https://scontent.fbkk22-3.fna.fbcdn.net/v/t1.15752-9/288157047_485247836704145_8726225918625011451_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeHjZJASAFBa0hhN5FiKW5VNykenP1mk5bbKR6c_WaTltouCIiPUjHi6f99GJhFM7JrN7r6VBVWpfC2OnQOKQaOx&_nc_ohc=QPpSAxuxOBcAX9CrE6f&tn=zuFz7EuY11Qo9eDr&_nc_ht=scontent.fbkk22-3.fna&oh=03_AVKSV9IwmWaKDQocY9EzoTO70ZoD0MX3CJTcA0ahvngeHA&oe=62E59340" alt="">
                    </div>
                </div>
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>🔥สินค้าแนะนำ</span>
                        <h3>มาร์คหน้าทองคำสวยขั้นเทพ</h3>
                        <p>หน้าหมอง หน้าโสม ฝ้าหนา กระเยอะ รอยสิว รักษาได้ในหนึ่งกระปุก</p>
                        <a href="" class="btn">สั่งซื้อตอนนี้</a>
                        <br>
                    </div>
                    <div class="img">
                        <img src="https://scontent.fbkk22-2.fna.fbcdn.net/v/t1.15752-9/288416925_553150293207302_5391931378911815211_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeEehwHCd7kX55-nCF7TJNn8ufdCV3TtC9m590JXdO0L2eA-EdnLJmiwEQ249-5vx3LAHcrVQjf71jjetuyAFHrz&_nc_ohc=Wx2XRNtghqYAX_sMmnm&_nc_ht=scontent.fbkk22-2.fna&oh=03_AVJ7Pj_IYtoCUJowcrcS82o7a1MrFH9hGoelPSd0Rfl-TQ&oe=62E4C065" alt="">
                    </div>
                </div>
            </div>
             <br>
             <br>
             <br>
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <!-- Home section end -->
    <!-- Review Section starts -->
    <div class="about" id="about">
        <h3 class="sub-heading">เกี่ยวกับสินค้า</h3>
        <h1 class="heading">รีวิวจากผู้ใช้งาน</h1>
        <div class="row">
            <div class="imgRe">
                <img src="https://scontent.fbkk2-6.fna.fbcdn.net/v/t1.15752-9/290488996_555369062955914_5827133561506518699_n.png?_nc_cat=104&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeE-_nwJL7TWGR8SDepTG9C-amn4GzegquZqafgbN6Cq5tHHRFtOrXCsyZHQxn135AVHVyd_NkZZDenXKOCzGHwx&_nc_ohc=rra3CP54vsUAX_QAlLy&_nc_oc=AQkfRa1PWxaInRHl5EyRWYGyg_DHTd8uOxCHVxAHnAjiKHGJoEIlDR5PkBMjCsnV3B0&tn=zuFz7EuY11Qo9eDr&_nc_ht=scontent.fbkk2-6.fna&oh=03_AVLISz2N9dcW_azRsP8NF3LEw5L2RMX_DLiqzcCksqj8Ig&oe=62E818C9" alt="">
            </div>
            <div class="content">
                <h3>มาร์คหน้าทองคำสวยขั้นเทพ🌻</h3>
                <p>ช่วยฟื้นฟูผิวหน้าได้รวดเร็ว บูสผิวให้เต่งตึงสวยงาม เห็นผลตั้งแต่กระปุกแรกที่ใช้งาน รักษาอาการ หน้าหมองคล้ำ หน้าโสม สิวเสี้ยน ฝ้าหนา เป็นกระหายยาก ลองใช้ MD.Skincare มาร์คหน้าทองคำสวยขั้นเทพ จบทุกปัญหาที่กล่าวมาในกระปุกเดียว</p>
                <div class="icons-container">
                    <div class="icons">
                        <p>🚚</p>
                        <span>เก็บเงินปลายทาง</span>
                    </div>
                    <div class="icons">
                        <p >💰</p>
                        <span>ราคา 259.-บาท</span>
                    </div>
                    <div class="icons">
                        <p>📞</p>
                        <span>ติดต่อสอบถาม</span>
                    </div>
                </div>
            </div>
         
        </div>
        
      
    </div>

    <div class="review" id="review">
        <div class="reviewA">
            <img src="https://scontent.fbkk2-3.fna.fbcdn.net/v/t1.15752-9/284759923_976203036387905_836315679656032349_n.png?_nc_cat=111&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeFiY5XrIn5wveNJ6U4NZ-08N9pofJ1BLX032mh8nUEtfSIxxNbF2Q_Yp5A5Oiy-8zvmetlKjrdtsjQIVslHr7cH&_nc_ohc=cG5Fj05ZxxwAX-MBqlq&_nc_ht=scontent.fbkk2-3.fna&oh=03_AVIi5g1tEpCBkn8FF1qIySuKXiPAm5JDs3YXUWTODSu-2w&oe=62E7032B" alt="" class="reviewA">
            <img src="https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.15752-9/291615425_562297588686974_7919831086705389652_n.png?_nc_cat=103&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGMlwDWW6A5uKuFOm0mQgnlvOTK5RIM7bW85MrlEgzttXRzcKPd0v-jXAP0iiI6h7kkGuosASnAZyeyWitVem06&_nc_ohc=qncupz4PFaQAX9c2Luu&_nc_ht=scontent.fbkk2-8.fna&oh=03_AVJ-1ZXif1WCzHJp4fkWsec7BmJgRThUNV4As3sAL59GQw&oe=62E5DF3D" alt="" class="reviewA">
        </div>
    </div>

    <!-- Review Section end -->
    <!-- Buy Section starts -->
    
   <div class="boxBuy">
    <h3 class="sub-head">โปรโมชั่นและแพ็คเกจ</h3>
    <h1 class="head">รายการสินค้า</h1>
    <div class="card">
        <img src="https://scontent.fbkk22-2.fna.fbcdn.net/v/t1.15752-9/290592211_1252120712260444_3013611455946573907_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGuW6Sq4pfu0g1RncMUX4mQfQVVSGNYgdd9BVVIY1iB1-DAq3U1Q0fO1WpiUaDLXbGNB3WxGXJhkcnjdWLTxW3U&_nc_ohc=o9bfKiFpOEcAX8aB1Eq&_nc_ht=scontent.fbkk22-2.fna&oh=03_AVIMrGz2v-sOuRL-4vR1qonVhTiV6lxxxyA4Ty5MAXvzVQ&oe=62EB6ACA" alt="Denim Jeans" style="width:100%">
        <h1>MD.Skincare</h1>
        <p class="price">B259.-</p>
        <p>มาร์คหน้าทองคำสวยขั้นเทพ 1 กระปุก</p>
        <p><button>สั่งซื้อ</button></p>
    </div>
    <div class="card">
        <img src="https://scontent.fbkk22-2.fna.fbcdn.net/v/t1.15752-9/287976092_5728487760517532_8058269646955257877_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGbnjPfa0Lgi0zOt6ZQIXw74U_sjl0HFn_hT-yOXQcWfwxxn2iaJ_TjgJnU27gvMTz5Aej6RfoEXQZvI5CaoGDi&_nc_ohc=XfvHfCZCEL4AX9h9Cmo&_nc_ht=scontent.fbkk22-2.fna&oh=03_AVITI2TkfzQY-BN-RgZzya8nAjuFGgoPVVl18xnpAajpwQ&oe=62EC76A7" alt="Denim Jeans" style="width:100%">
        <h1>MD.Skincare</h1>
        <p class="price">B390.-</p>
        <p>โปรโมชั่นซื้อ 1 แถม 1</p>
        <p><button>สั่งซื้อ</button></p>
    </div>
   </div>
    
    
    <div class="product">   
        <h3 class="sub-heading">เลขจดแจ้ง ใบอนุญาติถูกต้อง</h3>
        <h1 class="heading">สูตรลับเฉพาะแบรนด์</h1>
        <div class="p-container">
            <img src="287083327_429007682173374_4067216723068855133_n.jpg" alt="">
            <img src="288611364_1420626978364185_4889401372812754045_n.jpg" alt="">
            <img src="287495297_548832450199307_3989319841037030585_n.jpg" alt="">
            <img src="287685328_528159032390558_6348114065018911865_n.jpg" alt="">
            <img src="287051540_748559193250798_5967297773123466977_n.jpg" alt="">
            <img src="288661744_1086974602247282_542289190672906520_n.jpg" alt="">
            <img src="287926284_919101729489602_5671366202578460354_n.jpg" alt="">
            <img src="288539242_496345642291914_6366396129906087533_n.jpg" alt="">
            <img src="287620044_498556798745315_4134900809249716769_n.jpg" alt="">

            
        </div>
    </div>
    
    
    <!-- Buy Section end -->
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="getMenubar.js"></script>
    <script src="getSlide.js"></script>
    

</body>
</html>