<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mali:wght@500&display=swap" rel="stylesheet">
    <title>มาร์หน้าทองคำสวยขั้นเทพ พี่ดม</title>
    <style>
        body
        {
            font-family: 'Mali', cursive;
        }
        /* About HEAD TEXT  */
        .boxHeadText
        {
            position: fixed;
            text-align: center;
            background-color: gold;
            width: 100%;
            
        }
         /* About HEAD Buy Item  */
        .boxBuyItem
        {
            position: fixed;
            text-align: center;

            margin-top: 750px;
            
        }
        .buyItem {
           margin-left: 150px ;
            border: 4px solid red;
            border-radius: 24px;
            background-color: red;
        }
        .buyItem a
        {
            text-decoration: none; color: gold;
            
        }
         /* About HEAD story product  */
         .boxImgeProduct
         {
            padding-top: 64px;
          
            text-align: center;
         }
      
        
         /* About HEAD review Admin */
         .boxReview
         {
            text-align: center;
         }
         .reviewAdmin
         {
            color: gold;
         }
         /* About HEAD review User */
         .boxReviewUser
         {
            text-align: center;
         }
         .reviewUser
         {
            color: gold;
         }
         /* About HEAD keep store */
         .boxKeep
         {
            text-align:center ;
         }
         .keepStore
         {
            font-size: 36px;
            color:gold ;
         }
       
        
    </style>
</head>
<body id="body">
    
    <div class="boxHeadText pt-3 pb-2">
        <div class="headText ">
            <h2>🌼มาร์หน้าทองคำสวยขั้นเทพ🌼</h2>
        </div>
    </div>
    <div class="boxBuyItem pt-3 pb-2">
        <div class="buyItem">
            <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Foec-api.tiktokv.com%2Fview%2Fproduct%2F1729435085812370286%3FtrackParams%3D%257B%2522original_price%2522%253A%2522%25E0%25B8%25BF420.00%2522%252C%2522start_click_time%2522%253A1656062422847%252C%2522enter_from%2522%253A%2522%2522%252C%2522search_result_id%2522%253A%2522%2522%252C%2522click_product_start_time%2522%253A1024658581%252C%2522follow_status%2522%253A-1%252C%2522enter_from_info%2522%253A%2522product_share_outside%2522%252C%2522anchor_show_type%2522%253A%2522show_window_card_tag%2522%252C%2522source%2522%253A%2522TikTok%2520Shop%2522%252C%2522previous_page%2522%253A%2522product_detail%2522%252C%2522item_order%2522%253A0%252C%2522list_source_content_id%2522%253A%2522%2522%252C%2522click_buynow_start_time%2522%253A1024684892%252C%2522product_id%2522%253A%25221729435085812370286%2522%252C%2522page_name%2522%253A%2522product_detail%2522%252C%2522product_skin_type%2522%253A%2522%2522%252C%2522source_from%2522%253A%25223%2522%252C%2522EVENT_ORIGIN_FEATURE%2522%253A%2522TEMAI%2522%252C%2522mix_product_type%2522%253A%25220%2522%252C%2522product_source%2522%253A%25225%2522%252C%2522sale_price%2522%253A%2522%25E0%25B8%25BF375.00%2522%252C%2522search_id%2522%253A%2522%2522%252C%2522product_type%2522%253A%25221%2522%252C%2522list_skin_type%2522%253A%2522%2522%252C%2522entrance_form%2522%253A%2522%2522%252C%2522enter_method%2522%253A%2522click%2522%252C%2522is_single_sku%2522%253A1%252C%2522source_page_type%2522%253A%2522%2522%252C%2522page_show_type%2522%253A%2522full_screen%2522%252C%2522delivery_option%2522%253A1%257D%26unique_id%3Dceotanskincare%26u_code%3Ddbgj8j0mbk74d6%26timestamp%3D1656062461%26user_id%3D6809581534229267457%26sec_user_id%3DMS4wLjABAAAAq-EZCetSNuSV3XEBDgxF7tsiNxX9xOUWOTMhLpamLnEsATglk3seFawucO5iWF3r%26utm_source%3Dmessenger%26utm_campaign%3Dclient_share%26utm_medium%3Dandroid%26share_iid%3D7106706159260010267%26share_link_id%3D32feace6-eaa6-44a5-9156-4e0938cda22b%26share_app_id%3D1180%26ugbiz_name%3DUnknown%26fbclid%3DIwAR1RHsYjLnBMJXeGZZYdmO4Or4cdyrRg2UOgHW_O3hkUxpdfkXaN9yRlztQ&h=AT3lvRqVv0WvKl_V_Nuslx1qE1w9PzlkMCkLNkoP8-NZqJ_HM3nS5dKT2jTPHn6bPCqnSJvj_IzidkCcIUkAKJvWMdTYEkBqb_WJAx1kBIgBO8aCqs6Nf6miwextUMJBFFuILQ"><h2>🍀กดสั่งซื้อสินค้า ราคา 259.- บาท🍀</h2></a>
        </div>
    </div>
    
    <div class="boxImgeProduct">
        <img width="680px"; height="178px"; src="https://scontent.fbkk22-2.fna.fbcdn.net/v/t1.15752-9/290377647_3372784599675452_6341413794955572130_n.png?_nc_cat=106&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeHDN7MByMHYosL7iGySHNmviITAIggVj_-IhMAiCBWP_7e8-5KAz-EpbtmEa6frRiKpOWaFltMqA20LfpQGWvi2&_nc_ohc=bBgOEoghIT8AX9aerau&_nc_ht=scontent.fbkk22-2.fna&oh=03_AVI3UeSQ0NYV4raUkvcEp-BxGj4zrv7_iMWV1uMDM43uuA&oe=62E105F7" alt="">        
    </div>
    <div class="container">
        <div class="boxReview">
            <div class="reviewAdmin">
                <br>
                <h1> 🌺 รีวิวจากเจ้าของแบรนด์ 🌺 </h1>
                <img width="580" height="480" src="https://scontent.fbkk22-8.fna.fbcdn.net/v/t1.15752-9/288647950_445369684099740_4062424919403677776_n.png?_nc_cat=104&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeENE5ft3Vd5cc_-g4GK5W25WJzWLKe5lKNYnNYsp7mUo5sxO-V2KtQACjpJNpYzl9XtfxELme1zOHEeJcNIetgM&_nc_ohc=y0PeOeRUUNUAX95kuet&tn=zuFz7EuY11Qo9eDr&_nc_ht=scontent.fbkk22-8.fna&oh=03_AVJ451SmCB1KVDqPvpWiqvxt-r0cQnJgeBDEEMeWep4Wlg&oe=62BC06A7" alt="">
            </div>
        </div>
        <div class="boxReviewUser">
            <div class="reviewUser">
                <br>
                <h1> 🌻 รีวิวจากผู้ใช้งาน 🌻 </h1>
                <img width="400"; height="430"; src="https://scontent.fbkk22-2.fna.fbcdn.net/v/t1.15752-9/288461932_732820047769419_797568238615089551_n.png?_nc_cat=105&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGkF-BVRI5p-nBjJnH-nQiOhp610NtuK7mGnrXQ224rudxyX-ByajbsLPR2MMNHkSidzBs2xswPaVjNOW7MtfP5&_nc_ohc=nxIPK2zNr2IAX8hFxM6&_nc_ht=scontent.fbkk22-2.fna&oh=03_AVKlxTEYrHyt7RJv6yNu7RLd0jnI7fcTZRmQJhZadOOnRw&oe=62DEF4A0" alt="">
                <img  width="580"; height="460"; src="https://scontent.fbkk22-2.fna.fbcdn.net/v/t1.15752-9/285718841_551928733094846_4586328920488924999_n.png?_nc_cat=106&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGZI0-f9HSzk9OeOO5WnD8IwZoZr2E-nlDBmhmvYT6eUN-6nMJh1DuYTNKWIs9BQzF-EDFqnbYr_qH367v9gaU7&_nc_ohc=qgSrmH7fZDcAX_eyYpf&_nc_ht=scontent.fbkk22-2.fna&oh=03_AVJkI02t-uiVlXFtgsoylcieC9eDnyEw_lxcIsTPqK5LaQ&oe=62DFBF64" alt="">
            </div>
        </div>
        <div class="numberLc">
            <div class="licens" style="color: gold;">
                <br>
                <h2>  เลขจดแจ้งสินค้าปลอดภัยได้มาตรฐาน เลขจดแจ้ง:27-1-6400038571  </h2>
                <img width="250"; height="350"; src="https://scontent.fbkk22-6.fna.fbcdn.net/v/t1.15752-9/287926284_919101729489602_5671366202578460354_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeF1kABpTAnjl5VjLqpZWUzYp2WotO54nimnZai07nieKak_YxkvHWJ3K88uaLFScA_I2bcyH40w92WDDJMBC_fG&_nc_ohc=jX7qhpbwe6oAX8tkIH6&_nc_ht=scontent.fbkk22-6.fna&oh=03_AVJNv9AioocihyJ6-3rRX6cypzt-zKwFe9L7onPEANmMug&oe=62BBDED5" class="img-thumbnail" alt="">
                <img width="250"; height="350"; src="https://scontent.fbkk22-1.fna.fbcdn.net/v/t1.15752-9/288611364_1420626978364185_4889401372812754045_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeFiyIKdS4bowqJn2drjwoP7S9ilOmQUCuVL2KU6ZBQK5S1fh83Vn9tHEGM210tbFn2yo9auC5KcqqMJm3SKkF_T&_nc_ohc=ty5OHyFdxgAAX9dXVbR&_nc_ht=scontent.fbkk22-1.fna&oh=03_AVJGWK2TmnTjaI9Sx3i3M2nYWG8czhwOWBbMcRmP_Bah_A&oe=62BBF48C" class="img-thumbnail" alt="">
                <img width="250"; height="350"; src="https://scontent.fbkk22-1.fna.fbcdn.net/v/t1.15752-9/287229311_775989386864751_1486237109361321462_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeHALyePg0IdZi86gUbbEZnVPLTtghnNI2k8tO2CGc0jaafaZbxIXBGz3L9ME_hGwZ05vFqpg5agydbWpR6d9qs4&_nc_ohc=O625-Toa2mAAX81vVui&tn=zuFz7EuY11Qo9eDr&_nc_ht=scontent.fbkk22-1.fna&oh=03_AVIdOtyAq4_8N_7MVFx-ko-lAE2i-O1abQrBSPENqzErFQ&oe=62BC0557" class="img-thumbnail" alt="">
                <img width="250"; height="350"; src="https://scontent.fbkk22-1.fna.fbcdn.net/v/t1.15752-9/287051540_748559193250798_5967297773123466977_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeHNwhKEkF8mSwKw0k-iD7DWMSGoWuThrJwxIaha5OGsnPBuktL5ZmzZhr3WELlqBY6nSOo-J_6quf_TzB0FRhxv&_nc_ohc=q49neMXHdsMAX_wIU1W&_nc_ht=scontent.fbkk22-1.fna&oh=03_AVI13wrx-FaEDnAcG3S2N-YpE2bhrfE2FvzHCHjarujouw&oe=62BC2DC3" class="img-thumbnail" alt="">
                <img width="250"; height="350"; src="https://scontent.fbkk22-7.fna.fbcdn.net/v/t1.15752-9/287083327_429007682173374_4067216723068855133_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeEliP0bXXopYlQvxaNXVj2WHj-yZ5sW-2oeP7Jnmxb7atpbxkuTeLh2Bvs33CGefrkVGSXqnLs354gQQmb7VlLi&_nc_ohc=MhaWL6DoC6EAX_XQk5L&tn=zuFz7EuY11Qo9eDr&_nc_ht=scontent.fbkk22-7.fna&oh=03_AVJ0xhbuGeWLVDLJCgFJTntL4hHevhONL_UoLSRzOi33vQ&oe=62BBF0E9" class="img-thumbnail" alt="">
                <img width="250"; height="350"; src="https://scontent.fbkk22-1.fna.fbcdn.net/v/t1.15752-9/287303086_1122227925022375_3248409385793570815_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeFEzVYFHln28Ugt5DwUwEswyySHdUWXJh3LJId1RZcmHbSuZzkPYttU64BYvQQO4RddOKhnY_FyL4pQi2gyx1Yv&_nc_ohc=7Sy51BHvkZoAX_D2wtJ&_nc_oc=AQmy7-Rb3u2xgICH7JACSLnHXRkLzJiQhpP-imHsYOUl8ootqQBsKyXDRbl7IKabqOY&_nc_ht=scontent.fbkk22-1.fna&oh=03_AVLVtkH49vnfYzp4pPcGoS9iTzBy0oAtB27RBgcGeym2Eg&oe=62BBFD83" class="img-thumbnail" alt="">
            </div>
        </div>
    </div>
    <br>
    <div class="boxKeep">
        <div class="keepStore">
            🌵 มีเก็บเงินปลายทาง 🌵
        </div>
    </div>

    <script>
        var elem = document.getElementById("body");
        elem.requestFullscreen();
    </script>
    
    
        
   
</body>
</html>