<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="renderHeader.css">
    <link rel="stylesheet" href="renderOrderform.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
    <title>มาร์หน้าทองคำสวยขั้นเทพ พี่ดม</title>
</head>
<body>
    <header>
        <a href="" class="logo"><i class="fas-fa-itensils"></i>🌸MD.GOLD </a>
        <nav class="navbar">
           
            <a href="" id="localProduct">ติดตามพัสดุ</a>
            <a href="#about" id="reviewProduct">รีวิวสินค้า</a>
            <a href="https://line.me/ti/p/WO-SRBGvtr?fbclid=IwAR2_cnLKzaasJbgkKNAMC4rkkNOykQITGO1kSCJqiftpNJY-xRzk9Gi2z40" id="message">ติดต่อสอบถาม</a>
            <a class="active" href="#boxBuy">สั่งซื้อสินค้า</a>
        </nav>
        <div class="icons">
            <a href="" class="fa fa-shopping-cart" id="IShopcart"></a>
            <i id="menu-bars" class="fa fa-bars"></i>
        </div>
    </header>
    <div class="formData" id="formData">
        <div class="dataUser">
            <form action="">
                <label for="">ตรวจสอบข้อมูลการสั่งซื้อ</label>
                <h1>กรุณาใส่ชื่อและเบอร์มือถือของท่าน <span>* กรุณากรอกเบอร์โทรและรหัสไปรษณีย์ที่ถูกต้องเราจะจัดส่งให้เร็วขึ้นนะคะ</span> </h1>
                <input type="text" placeholder="ชื่อ-นามสกุล *" style="border:3px black solid; padding: .5%; border-radius: 24px;">
            </form>

        </div>
      
           
    </div>
</body>
</html>